<h1>Hello from Rails!</h1>
<p>It is now <%= @time %> </p>
<p>Let's try some math: 1+2 = <%=1+2%></p>
<p>Also we are going to concatenate: cow and boy <%= "cow" + "boy"%></p>
<p>The time in an hour will be: <%=1.hour.from_now.localtime %></p>
<br>
<p>This is foo: <%= @foo %></p>

<p>Time to say <%= link_to ("Goodbye"), say_goodbye_path %>!</p>
